{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1> 🖥️ Generate Blog Post  ️</h1>
    <p class="lead">
      Are you trying to come up with an engaging professional blog post but have hit a writers block? Let AI help you along.
    </p>

    <h2>Enter your blog title</h2>

    <form class="" action="/blog-post" method="post">

      <div class="mb-3">
        <label class="form-label">Blog Title</label>
        <input type="text" class="form-control" name="blogPost" placeholder="eg. How to install  Auto Chat GPT on Windows PC">
        <div class="form-text">Enter the title of the the post you want to write.</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg"> 💃 GET RECOMMENDATIONS</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
